.ContainerMosaicWrapper-item {
    position: relative;
    margin-bottom: 24px;
    
    font-size: 12px;
    line-height: 1.1em;
    color: #fff;
}

.ContainerMosaicWrapper-item a { color: #fff; }

.ContainerMosaicWrapper-item:hover .ContainerMosaicWrapper-infoBottom {
    display: block;
}

.ContainerMosaicWrapper-item:hover .ContainerMosaicWrapper-img {
  filter: brightness(0.8);
}
    
.ContainerMosaicWrapper-infoBottom {
    display:none;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    
    word-break: break-all;
}

.ContainerMosaicWrapper-img {
    display: block;
    width: 100%;
    cursor: zoom-in;

    transition: filter 0.5s ease;
}

.ContainerMosaicWrapper-avatarName {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
}

.ContainerMosaicWrapper-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.ContainerMosaicWrapper-container {
    padding: 70px 60px 72px;
}

.ContainerMosaicWrapper-containerBtn {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.ContainerMosaicWrapper-mosaicWrapper {
    grid-column-gap: 24px;
    align-items: start;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr))
}

